html, body {
    height: 100%;
}

p#desc {
    position:absolute;
    bottom:7px;
    margin:5px;
    font-style:italic;
}

.actions {
    height:28px;
    margin-bottom:7px;
}

.hrow#top {
    position:relative;
    margin-top:15px;
}
#map-title{
    font-size: 24px;
    padding: 15px 20px 8px;
    color: #000;
}

#no-title{
    float:left;
    margin-left:20%;
    font-size: 15px;
    padding: 12px 20px 8px;
    color: #999;
    font-style:italic;
}

#map-title i.fade {
    opacity: 0.7;
    position:relative;
    bottom: 3px
}

.editable-buttons {
    display: none;
}

.editable-click, a.editable-click {
    border-bottom: 0;
    color: #000;
}



.actions input {
    margin-bottom: 0px;
    padding: 3px;
}

a.action {
    text-decoration: underline;
    font-weight: bold;
}

.fill {
    position: absolute;
    top:110px;
    bottom: 25px;
}

.vstretch {
    height:100%;
}

.bump {
    margin-right:5px;
}
.grey {
    color:grey;
}

.ital {
    font-style:italic;
}

