.editable-buttons{
    display: none;
}

.editable-empty:hover {
    color: #555;
}

.editable-click:hover {
    color: #555;
}
.editable-click, a.editable-click, a.editable-click:hover {
    border-bottom: 0;
}
.editable-empty, .editable-empty:hover {
    font-style: inherit;
}
.editable-input input {
    width: 350px;
    margin-bottom: 5px;
    position: relative;
    bottom: 5px;
}

.navbar-inverse .navbar-search .search-query {
    background: #fff;
    border-radius: 0;
    webkit-border-radius: 0;
    moz-border-radius: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.fornav {
    position:relative;
    margin-left:-22px;
    z-index:2;
}

.leaflet-extra-left {
    left: 200px;
}

#data-table {
    display:none;
    position:absolute;
    left: 210px;
    top: 0px;
    bottom: 0px;
    right: 10px;
    overflow:auto;
}

#data-table table {
}

#map {
    position:absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
}

#actions {
    width: 200px;
    left: 0px;
    top:0px;
    position:absolute;
    z-index: 10;
}

#alerts {
    position: absolute;
    top: 10px;
    z-index: 99;
    left: 300px;
    right: 300px;
}

#alerts div {
    display:none;
}

button#savenew, button#saveold {
    margin: 10px 10px 0 0;
}

.all-actions {
    background-color:#dfdfdf;
    padding-top:5px;
}

#map-actions {
    display: none;
}

.btn-header {
    text-align:center;
    color: #666;
    font-weight: bold;
    text-decoration: underline;
}

#file-actions {
    display: none;
}

#output-actions {
    display: none;
}

#label-actions {
    display: none;
}

form#pdfform {
    display:none;
}

form#label-actions {
    padding: 15px;
    margin-bottom:0;
}
form#dataform {
    margin: 0;
}

input[type="text"].input-actions {
    width: 100px;
    -moz-box-shadow: 0;
    box-shadow: 0;
    -webkit-box-shadow:0;
    -webkit-transition: 0;
    border-right-color: #fff;
}

#info-overlay {
    display:none;
    position:absolute;
    bottom: 0px;
    left:0px;
    background-color: white;
    opacity: 0.9;
    z-index: 6;
    padding: 2px 10px;
    font-size: 15px;
    font-weight: bold;
}

.leaflet-popup-content-wrapper {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

textarea#id_notes {
    width: 500px;
    height: 5em;
}

.leaflet-control-draw {display:none;}

.leaflet-top .leaflet-control {
}

.bump {
    margin-right:5px;
}

.btn-top {
    background-color:#ddd;
}

.grey {
    color:grey;
}
.add-on.bgwhite {
    background-color:#fff;
    color:grey;
    border-left:0;
    border-top-color:#bbb;
    border-bottom-color:#bbb;
}
.input-mini.hideright {
    border-right:0;
    width:3em;
    text-align:right;
}
.ital {
    font-style:italic;
}

div#buttons {
    margin-top:10px;
    margin-left:10px;
    position:absolute;
    top: 0px;
    left:0px;
    z-index:6;
}
div#rightbuttons {
    margin-top: 10px;
    margin-right: 10px;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 6;
}

#fullbuffer {
    display:none;
}

.button-background {
    padding: 5px;
    border-radius: 7px;
    background: rgba(0, 0, 0, .5);
}
