{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="">

        <!-- Mobile optimization -->
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png" />

        <!-- Favicon -->
        <link rel="shortcut icon" type="image/png" href="{{ STATIC_PREFIX }}img/favicon.png" />

        <!-- CSS -->
        <link rel="stylesheet" href="{{ STATIC_PREFIX }}bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ STATIC_PREFIX }}bootstrap/css/bootstrap-responsive.min.css">
        <!-- Modernizr -->
        <script src="{{ STATIC_PREFIX }}modernizr/modernizr-2.6.1-respond-1.1.0.min.js"></script>

        <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/base.css">
        {% block pagecss %}{% endblock %}

    </head>

    <body>

        {% block content %}{% endblock %}


        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="{{ STATIC_PREFIX }}bootstrap/js/bootstrap.min.js"></script>
        {% block pagejs %}{% endblock %}

        <script>
                var _gaq = [
                ['_setAccount', 'UA-XXXXX-X'],
                ['_trackPageview']
            ];
            (function(d, t) {
                var g = d.createElement(t),
                    s = d.getElementsByTagName(t)[0];
                g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
                s.parentNode.insertBefore(g, s)
            }(document, 'script'));
        </script>



    </body>

</html>
