{% extends "base.html" %}

{% block title %}Master Blaster{% endblock %}

{% block content %}
<div class="container">
<div class="row">
<h2>Notification Tool</h2>

<a class="btn btn-primary pull-right" href="/new">Start a new project &raquo;</a>
</div>
<div class="row">
<h3 class="offset1">Recent Projects</h3>
<table class="offset1 span8 table table-striped">
    {% for map in maps %}
    <tr>
        <td>{{map.edit_date|date:'m-d-Y'}}</td>
        <td>{{ map.name }}</td>
        <td>{% firstof map.notes "<em>(no desc.)</em>" %}
            <a class="small" href="/map/{{ map.slug }}">map&raquo;</a>
            <a class="small" href="/labels/{{ map.slug }}">labels&raquo;</a>
        </td>
    </tr>
    {% endfor %}
</table>
</div>
</div>
{% endblock %}

