{% extends "base.html" %}

{% block title %}{% firstof bmap.name "GeoNotice" %}{% endblock %}
{% block pagecss %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/labels.css" />
{% endblock %}
{% block content %}
<div class="navbar navbar-static-top hrow">
    <div class="navbar-inner">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">GeoNotice</a>
        <div id="map-title">{{ bmap.name }}</div>
        <div class="nav-collapse collapse">
          <div class="pull-right">
            <ul class="nav pull-right">
              <li><a href="/"><i class="icon-refresh "></i> New Map</a></li>
              <li><a href="/maps"><i class="icon-list "></i> Saved Maps</a></li>
              <li><a href="#"><i class="icon-question-sign"></i> Help</a></li>
              <li><a href="#"><i class="icon-off "></i> Logout</a></li>
            </ul>
          </div>
        </div>
    </div>
</div>   
<div class="container">
    <div class="row topspace">
        <div class="span2">
            <a class="btn-block btn btn-info" id="popuplink" href="#">Get labels as Adobe PDF</a>
        </div>
        <div class="span2">
            <a class="btn-block btn btn-info" href="/data/{{bmap.slug}}?filetype=xls">Get data as Excel</a>
        </div>
        <div class="span2">
            <a class="btn-block btn btn-info" href="/data/{{bmap.slug}}?filetype=csv">Get data as .csv</a>
        </div>
        <div class="span2">
            <a class="btn-block btn btn-info" href="/data/{{bmap.slug}}?filetype=pdf">Get table as .pdf</a>
        </div>
    </div>
    <div id="label-opts" style="display:none">
        <form class="form">
            <label class="radio">
                  <input type="radio" name="optionsRadios" id="optionsMail" value="mail" checked>
                  Use Mailing Address&nbsp;&nbsp;
            </label>
            <label class="radio">
                  <input type="radio" name="optionsRadios" id="optionsSitus" value="situs">
                  Use Situs Address&nbsp;&nbsp;
            </label>
            <label class="radio">
                  <input type="radio" name="optionsRadios" id="optionsBoth" value="both">
                  Use Both (if different)
            </label>
            <label class="checkbox">
                <input type="checkbox" id="uniquebox">Skip Duplicate Mailing Addresses</input>
            </label>
            <label class="checkbox">
                <input type="checkbox" id="apnbox" checked >Show APNs</input>
            </label>
        </form>
            <a class="btn btn-info" id="pdflink" href="/labels/{{bmap.slug}}?filetype=pdf&apn=1&address=mail&unique=0" target="_blank">Get labels</a>
            <a class="btn pull-right" href="#" data-toggle='button' data-dismiss='clickover'>Cancel</a>
    </div>
    <div class="row topspace">
            <table class="span12 table table-striped">
                <tr>
                    <th class="span2">APN</th>
                    <th>Owner</th>
                    <th>Situs Address</th>
                    <th>Mailing Address</th>
                </tr>
                {% for parcel in parcels %}
                <tr>
                    <td class="mlabel apn">{{parcel.apn}}</td>
                    <td class="mlabel owner">{{parcel.owner|default:""}}</td>
                    <td class="mlabel situs">{{parcel.situs1|default:""}} {{parcel.situs2|default:""}}</td>
                    <td class="mlabel mail">{{parcel.mail1|default:""}} {{parcel.mail2|default:""}}</td>
                </tr>
                {% endfor %}
            </table>
    </div>

{% endblock %}

{% block pagejs %}
<script src="{{ STATIC_PREFIX }}bootstrapx-clickover/bootstrapx-clickover.js"></script>
<script src="{{ STATIC_PREFIX }}masterblaster/labels.js"></script>
{% endblock %}
