{% extends "base.html" %}

{% block title %}{{bmap.name}}{% endblock %}

{% block mapcss %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.css" />
<!--[if lte IE 8]><link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.ie.css" /><![endif]-->
{% endblock %}

{% block content %}
<!--[if lt IE 8]>
    <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]-->
<div class="container">
    <div class="">
        <h1>{{ bmap.name }}</h1>
        <a href="/" class="btn pull-right">More Maps &gt;</a>
        <p class="lead">{{ bmap.notes }}</p>
    </div>

    <div class="span12">
        <div class="row fill">
            <div id="data" class="span3">
                <div class="overview">
                        <a href="#" id="selectButton" class="btn btn-large btn-block" rel="popover" data-content="" data-original-title="">Select Parcels to Buffer</a>
                        <p>Click on a parcel to select it. To deselect it, click on it again.</p>
                        <a href="#" id="bufferButton" class="btn btn-large btn-block disabled" rel="popover" data-placement="top" data-content="" data-original-title="">Buffer and Refine</a>
                        <p>Click on a buffered parcel to remove it from the labels. Click on any other parcel to add it to the buffered parcels.</p>
                        <a href="#" id="labelButton" class="btn btn-large btn-block disabled" rel="tooltip" data-placement="bottom" data-original-title="">Get Labels</a>
                    </p>
                </div>
            </div>
            <div id="map-area" class="span9">
                <div id="search-box"></div>
                <div id="map"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block mapjs %}
<script type="text/javascript">
    var mapstate = {{ bmap.state|safe }};
</script>
<script src="//cdn.leafletjs.com/leaflet-0.4.5/leaflet.js"></script>
<script src="{{ STATIC_PREFIX }}masterblaster/map.js"></script>
{% endblock %}

