{% extends "base.html" %}

{% block title %}
    {% firstof bmap.name "GeoNotice" %}
{% endblock %}

{% block pagecss %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.css" />
<link rel="stylesheet" href="{{ STATIC_PREFIX }}leaflet.draw/leaflet.draw.css" />
<link href="{{ STATIC_PREFIX }}bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet">
<!--[if lte IE 8]><link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.ie.css" /><![endif]-->
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.css" />
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/base.css">
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/map.css">
{% endblock %}

{% block content %}
<!--[if lt IE 8]>
    <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]-->
<div id="topbar">
    <a class="brand" href="/">GeoNotice</a>
    <div class="pull-right">
        Welcome, {{site.name}}
    </div>
</div>
</div>
</div>
<div id="midbar">
   <div class="navbar navbar-inverse navbar-static-top hrow">
        <div class="navbar-inner">
            <ul class="nav pull-left">
                <li>
                <a id='nav-map'>Select Parcels</a>
                </li>
                <li>
                <a id='nav-output'>Export</a>
                </li>
            </ul>
            <div class="pull-right">
                <ul class="nav pull-right">
                      <form class="navbar-search" action="">
                          <input autocomplete="off" type="text" id="search" class="search-query" data-link="/search/"><span class="fornav"><i class="icon-search"></i></span>
                      </form>
                      <li class="divider"></li>
                      <li><a id="userguide">User Guide</a></li>
                </ul>
          </div>
            <div id="map-title">
                <a href="#" id="map-title-editable">{{ bmap.name|default:"" }}</a><i class="icon-pencil fade"></i>
            </div>
        </div>
    </div>   
</div>   
<div class="container-fluid">
<div id="map-area" >
    <div id="actions">
        <div id="map-actions" class="all-actions">
            <a id="pick" class="btn btn-block">Single</a>
            <a id="lasso" class="btn btn-block ">Lasso</a>
            <a id="addbuffer" class="btn btn-block">Buffer &raquo;</a>
            <div id="fullbuffer" class="btn-block">
                <button id="buffer" class="btn btn-block btn-primary" type="button">Buffer</button>
                <div class="input-append btn-block">
                    <input id="bufferdist" class="hideright input-actions" id="appendedInputButtons"
                    type="text" placeholder="300"> <span class="add-on bgwhite ital">feet&nbsp;</span>
                    <button id="dobuffer" class="btn btn-danger" type="button">Run</button>
                </div>
            </div>
            <a id="newMap" href="/" class="btn btn-block">New Map</a>
            <a id="saveButton" class="btn btn-block">Save</i></a>
            <a href="/maps/" class="btn btn-block">Saved Maps</a>
            <a id="pdfMapsButton" class="btn btn-block">Save Map as PDF</a>
        </div>
        <div id="output-actions" class="all-actions">
            <form id="dataform" method="post" action="/data/" target="_blank">
                <input type="hidden" class="csrf" name="csrfmiddlewaretoken" value="">
                <input type="hidden" class="data" name="data" />
                <input type="hidden" id="filetype" name="filetype" />
            </form>
            <a id="labelButton" class="btn btn-block">Labels</a>
                <form id="label-actions" method="post" action="/labels/" target="_blank">
                    <label class="radio">
                          <input type="radio" name="optionsRadios" id="optionsMail" value="mail" checked>
                          Use Mailing Address&nbsp;&nbsp;
                    </label>
                    <label class="radio">
                          <input type="radio" name="optionsRadios" id="optionsSitus" value="situs">
                          Use Situs Address&nbsp;&nbsp;
                    </label>
                    <label class="radio">
                          <input type="radio" name="optionsRadios" id="optionsBoth" value="both">
                          Use Both (if different)
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" id="uniquebox">Skip Duplicate Mailing Addresses</input>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" id="apnbox" checked >Show APNs</input>
                    </label>
                    <input type="hidden" class="csrf" name="csrfmiddlewaretoken" value="">
                    <input type="hidden" class="data" name="data" />
                    <input type="submit" value="Get Labels" />
                </form>
            <a id="tableButton" class="btn btn-block">Table</a>
            <a id="excelButton" class="btn btn-block">Excel</a>
            <a id="csvButton" class="btn btn-block">CSV</a>
        </div>
    </div>
    <div id="info-overlay"><span>...</span></div>
    <div id="data-table">
        <h2 class="text-center">Data Preview</h2>
        <table class="table table-striped">
            <tr>
                <th class="span2">APN</th>
                <th>Owner</th>
                <th>Situs Address</th>
                <th>Mailing Address</th>
            </tr>
        </table>
    </div>
    <div id="map" class="vstretch"></div>
  </div>
</div>
{% endblock %}


{% block pagejs %}
<script type="text/javascript">
    var mapstate = {{ bmap.state|safe }};
    var sitebounds = {{ site.bounds.json|safe }};
    var panbounds = {{site.panbounds|safe }};
</script>
<script src="//cdn.leafletjs.com/leaflet-0.4.5/leaflet.js"></script>
<script src="{{ STATIC_PREFIX }}masterblaster/map-base.js"></script>
<script src="{{ STATIC_PREFIX }}leaflet.draw/leaflet.draw.js"></script>
<script src="{{ STATIC_PREFIX }}bootstrap-editable/js/bootstrap-editable.js"></script>
<script src="{{ STATIC_PREFIX }}masterblaster/map-ui.js"></script>
<script src="{{ STATIC_PREFIX }}masterblaster/search.js"></script>
{% endblock %}

